.redo-button {
  padding: 16px 32px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: black;
  background-color: white;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* Hover effect */
.redo-button:hover {
  background-color: #ec4949;
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}

/* Active effect */
.redo-button:active {
  transform: scale(0.9);
}
