.add-friend-container {
  padding: 20px;
  margin-top: -200px; /* Add space to account for the fixed header height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-friends-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  margin-top: 0;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

.add-friend-btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-friend-btn:hover {
  background-color: #16a34a;
  transform: scale(1.05);
}

.delete-friend-btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #ef4444;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-friend-btn:hover {
  background-color: #dc2626;
  transform: scale(1.05);
}