@import "tailwindcss";
/* Apply background to entire page */
body {
  @apply bg-[#e3fef9] m-0 flex justify-center items-center h-screen;
}

/* Main Content Container */
.MainContaineR {
  @apply flex flex-col h-screen w-screen max-w-[90vw] p-5 box-border font-['Poppins',_sans-serif];
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .MainContaineR {
    @apply max-w-full p-4;
  }
}

@media (max-width: 768px) {
  /* Tablets and below */
  .MainContaineR {
    @apply flex-col items-center w-full px-2;
  }

  .nav-body {
    @apply flex-col items-center w-full;
  }

  .main-content-wrapper {
    margin-left: 0;
    @apply w-full gap-12;
  }
}

@media (max-width: 480px) {
  /* Smartphones and below */
  .MainContaineR {
    @apply p-2 w-full;
  }

  .nav-body {
    @apply flex-col w-full;
  }

  .main-content {
    @apply flex-col items-center text-center w-full;
  }
}

/* Add gap between main content and bottom of the page */
.main-content {
  margin-bottom: 290px;
}

/* Sidebar Adjustments */
@media (max-width: 768px) {
  .nav-body {
    @apply flex-col items-center;
  }
}

/* Content Wrapper */
.main-content-wrapper {
  @apply ml-[100px];
  gap: 8px;
}

@media (max-width: 768px) {
  .main-content-wrapper {
    @apply flex-col items-center gap-5 w-full;
    margin-left: 0;
  }
}
